<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.OrderMapper">

    <select id="getOrderByUser" resultType="com.example.demo.pojo.Order">
        select o.*
        from user_order o
                 join demo.user u on u.id = o.user_id
            ${ew.customSqlSegment}
    </select>
</mapper>